<div style="float: right">
    <input type="text" name="selectedDate" class="search_field" id="selectedDate" style="margin-top: 7px;" value="{{ selectedDate }}" />
    <input type="button" value="Change date" id="selectedDateButton" class="search_button" style="" />
</div>