					{% if loop.index is divisibleby(40) or loop.index == 10 %}
					<tr>
					    <td colspan="7" style="text-align: center; padding: 25px">
                                                <p class="cncAdvert">

                                                </p>
					    </td>
					</tr>
					{% endif %}