{% extends '::base.html.twig' %}
{% block body %}
		<div id="content-full">
			<div id="box1">
				<h2 class="title">Advertisements on website</h2>
				<p>We've put adverts on few places on website. None of them should disturb you while looking for interesting informations.</p>
				<p>All money earned from clicks on that adverts are used to pay for domain name and our servers.
                                    Even with this support <strong>we still have to pay more than 70% of costs from our own money</strong>.</p><br />

				<h2 class="title">Why we need money from advertisement?</h2>
				<p>Currently <strong>project uses three servers to allow you to view interesting statistics</strong>.
                                    Probably soon we'll need one more to reduce website loading time and to generate more types of statistics.</p>
				<p>Right now <strong>our two databases carries about 30GB and more than 800M rows</strong>. That's very huge amount of data, that's why we're using more than one server.</p><br />

				<h2 class="title">Wants to help and stop blocking adverts but don't know how?</h2>
				<p>If you are using AdBlock Plus you can easely disable blocking only on our website.</p>
				<p>To do it, click on red "ABP" sign in left down corner of your browser and then check "Disable on cnc-stats.com" option.</p>
				<p>That's all! You just helped your favourite project to grow bigger and bigger!</p><br />
				<p>That is possible also in other blocking software, you can find exact instructions on their websites.</p><br />
			</div>
		</div>
{% endblock %}