{% extends '::base.html.twig' %}
{% block body %}
		<div id="content-full">
			<div id="box1">
				<h2 class="title">Subpage blocked</h2>
				<p>Subpage you tried to access is blocked due to alliance or player request.</p>
			</div>
		</div>
{% endblock %}